/*===========================

Custom Fonts

===========================*/

@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/Rockwell.ttf') format('truetype');
}

/*===========================

Universal Styling

===========================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h3 {
  font-family: 'Rockwell', serif;
}

h2,
h4,
h5,
p {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h4,
h5 {
  color: white;
}

h1 {
    font-size: 100px;
}

h2 {
    font-weight: 400;
    font-size: 40px;
}

h3, h6 {
  font-size: 50px;
  color: #3b3c40;
}

h3 {
  margin-bottom: 18px;
  text-align: center;
}

h4,
h5 {
  text-transform: uppercase;
}

h4 {
  background-color: #0e4a64;
  font-size: 23px;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
}

h5 {
  background-color: #939598;
  font-size: 25px;
  padding: 10px;
  text-align: left;
  margin-top: 10px;
}

h6 {
  border-left: 20px solid #0e4a64;
  padding-left: 20px;
  font-family: 'Rockwell', serif;
  padding-top: 10px;
}

p {
  font-size: 20px;
  line-height: 35px;
  margin: 7px;
  font-family: 'Raleway', sans-serif;
}

.secondary-page {
  margin: 0 200px;
}

.link-in-main-text {
  text-decoration: none;
  color: #939598;
  transition: .3s;
}

.link-in-main-text:hover {
  color: #0e4a64;
  border-bottom: 2px dotted #0e4a64;
  transition: .3s;
}

.main-container {
  position: relative;
  top: 50px;
}
/*===========================

Header Styling

===========================*/

header {
  background-color: #f5f5f3;
  width: 100%;
  z-index: 99999;
  position: relative;
}

header img {
    margin: 14px 0px -20px 10px;
}


/*== Menu as a whole ===*/
.menu,
.header-social-icons {
  display: inline-block;
}

.menu {
    max-width: 90%;
    min-width: 100px;
    width: 70%;
}
/*== Unordered List - Each menu item as a whole ===*/
.menu ul {
  list-style: none;
}

/*== Styles the main first level navigation bars ===*/
.menu > ul > li {
    display: inline-block;
    background-color: #17bcba;
    width: 19%;
    position: relative;
    vertical-align: top;
    bottom: 37px;
    font-family: 'Rockwell', serif;
    margin: 0 5px;
}

/*== Changes all menu items as a whole. ===*/
.menu ul li a {
    color: #fbfbfb;
    display: block;
    padding: 12px 5px 5px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    transition: .3s;
}

/*== Changes all menu items as a whole when hovering. ===*/
.menu-item:hover,
.menu ul li a:hover {
    background: white;
    color: #0e4a64;
    border-left: 10px solid #0e4a64;
    transition: .3s;
}


/*== Targets the secondary sub-menu in Portfolio ===*/
.sub-menu {
    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    top: 41px;
    width: 100%;
    background: #17bcba;
}

.menu-item:hover > a {
color: #0e4a64;
}

/*== Social Media Icons in Header ===*/

.header-social-icons a {
  font-size: 40px;
  color: #0e4a64;
  position: relative;
  bottom: 15px;
  padding-left: 2px;
}

.header-social-icons a:hover {
  color: #17bcba;
}

/*===========================

Footer

===========================*/

footer {
  background: #3b3c40;
  color: white;
  padding: 40px;
}

footer p {
  line-height: 30px;
}

footer a {
  color: white;
  text-decoration: none;
}

/*== Social Media Icons in Footer ===*/

.footer-social-icons a {
  font-size: 30px;
  color: white;
  margin-left: 5px;
}

.footer-social-icons a:hover,
footer a:hover {
  color: #17bcba;
}

.footer-logo {
  position: absolute;
  right: 50px;
}

/*===========================

Home Page - Hero Styling

===========================*/

main {
    margin: 0 100px;
}
main .hero {
  text-align: center;
  top: 50px;
}

main .hero-content {
    position: relative;
    top: -400px;
    max-width: 800px;
    left: 220px;
}

/* Sweep To Bottom Hover CSS */
main .hero-button {
  background: #0e4a64;
  font-family: 'Raleway', serif;
  font-size: 30px;
  margin-top: 30px;
  padding: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
main .hero-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 15px;
  border-bottom: 10px solid #0e4a64;
}
main .hero-button:hover, main .hero-button:focus, main .hero-button:active {
  color: #0e4a64;
}
main .hero-button:hover:before, main .hero-button:focus:before, main .hero-button:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*===========================

Home Page - Opening Text

===========================*/

.intro-text {
    position: relative;
    top: -240px;
    max-width: 900px;
    margin: 0 auto;
    border-top: 5px solid #f5f5f3;
    border-bottom: 5px solid #f5f5f3;
    padding: 30px 0;
}

/*===========================

Home Page - Three Column Section

===========================*/

.column-photos {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.hidden-content {
  visibility: hidden;
  display: none;
}

.three-columns {
    background: #ffffff url("../images/diamond.png") repeat center;
    max-width: 100vw;
    height: 900px;
    padding: 40px;
    position: relative;
    text-align: center;
    top: -125px;
}

.column-one,
.column-two,
.column-three {
  width: 30%;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  padding: 25px;
  height: 820px;
}

.column-one {
  left: 30px;
}

.column-two {
  left: 35%;
}

.column-three {
    right: 30px;
}

.three-columns p {
  margin-bottom: 10px;
}


/* Sweep To Bottom Hover CSS */
.explore-more-button {
  background: #0e4a64;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.explore-more-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00bfbb;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px;

}
.explore-more-button:hover, .explore-more-button:focus, .explore-more-button:active {
  color: #0e4a64;
}
.explore-more-button:hover:before, .explore-more-button:focus:before, .explore-more-button:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*===========================

Lightbox CSS Overwright

===========================*/

.lb-data .lb-caption {
    font-size: 30px;
    font-weight: bold;
    line-height: 1em;
}

/*===========================

Contact Page & Form Styling

===========================*/

.contact-form {
  margin: 20px auto;
  max-width: 1200px;
}

.contact-form,
.contact-us p {
  line-height: 25px;
  font-size: 18px;
  text-align: justify;
}


.label_input_wrap {
  display: block;
}


input,
textarea  {
  border: 1px solid #00bfbb;
  border-radius: 4px;
  padding: 9px 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f5f5f3;
  font-family: 'Raleway', sans-serif;
}

label {
  color: #00bfbb;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.reset input,
.submit input {
  background: #00bfbb;
  color: white;
  padding: 15px 20px;
  font-size: 20px;
  transition: .5s;
}

.reset input:hover,
.submit input:hover {
  background: white;
  color: #00bfbb;
  transition: .5s;
}

.reset,
.submit {
  display: inline-block;
  width: 597px;
  margin-bottom: 30px;
}

.faq-container {
  position: relative;
  min-height: 400px;
  margin: 30px 0;
  padding: 30px;
  background-color: #f5f5f3;
}

details {
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

summary {
  text-transform: uppercase;
  color: #0e4a64;
  font-weight: 600;
  padding-bottom: 10px;
}
/*===========================

About Me Page Styling

===========================*/

.about-me-photo {
  float: left;
  padding: 17px 20px 10px 0;
}

.two-columns-col-one,
.two-columns-col-two {
  width: 45%;
}

.two-columns-col-two {
  position: absolute;
  right: 100px;
  top: 70px;
}

.two-columns-col-one p,
.two-columns-col-two p {
  margin-bottom: 10px;
  text-align: justify;
}

.two-columns-col-one span {
  color: #0e4a64;
  font-family: "Rockwell", serif;
  padding-right: 3px;
  text-transform: uppercase;
}

.resume-container {
  background-color: #f5f5f3;
  max-width: 100vw;
  padding: 50px 120px;
  margin: 100px 0;
}

.resume {
  padding-left: 80px;
}

.resume,
.resume-col-2 {
  width: 800px;
}

.resume-col-2 {
  position: absolute;
  top: 895px;
  right: 230px;
}

.resume ul,
.resume-col-2 ul {
  margin: 20px;
  font-size: 20px;
  line-height: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 28px;
  list-style: outside none none;
}

.resume li,
.resume-col-2 li {
  padding-bottom: 20px;
  list-style-image: url(../images/bullet-point.png);
}

.resume li::first-line,
.resume-col-2 li::first-line,
.resume span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
}

/*===========================

Portfolio Pages Styling

===========================*/

.portfolio,
.portfolio-other {
  position: relative;
  top: 100px;
  background-color: #f5f5f3;
  margin-bottom: 120px;
  text-align: center;
}
.portfolio {
  min-height: 1600px;
}
.portfolio-other {
  min-height: 1050px;

}

.flip-card {
  width: 24%;
  height: 440px;
  display: inline-block;
  background: transparent;
  margin: 40px 0;
  padding: 20px;
  box-sizing: border-box;
}

.flip-card img {
  width: 100%;
  object-fit: cover;
  height: 396px;
  filter: grayscale(100%);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .6s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 4px 0 black;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #17bcba;
  color: white;
  transform: rotateY(180deg);
  padding: 20px 15px 0px;
}

.flip-card-back a {
  color: white;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
  font-weight: bold;
  transition: .3s;
  background-color: #0e4a64;
  padding: 10px 10px 5px;
  text-transform: uppercase;
  font-family: 'Rockwell', serif;
  font-size: 18px;
}

.flip-card-back a:hover {
  color: #0e4a64;
  transition: .3s;
  background: white;
}

.flip-card-inner h1 {
  font-size: 20px;
  border-bottom: 1px solid #0e4a64;
}

.portfolio-column-one,
.portfolio-column-two,
.portfolio-column-three {
  width: 28%;
  background-color: white;
  border: 2px solid black;
  margin: 25px 0;
  padding: 25px;
  display: inline-block;
}

.portfolio-column-one {
  left: 30px;
}

.portfolio-column-two {
  left: 35%;
}

.portfolio-column-three {
    right: 30px;
}
